<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>View Artwork</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    {%load static%}

    <link rel='stylesheet' href="{% static 'css/bootstrap.min.css' %}">
    <link rel='stylesheet' href="{% static 'css/bootstrap-theme.min.css' %}">
    <link rel='stylesheet' href="{% static 'css/fontAwesome.css' %}">
    <link rel='stylesheet' href="{% static 'css/light-box.css' %}">
    <link rel='stylesheet' href="{% static 'css/owl-carousel.css' %}">
    <link rel='stylesheet' href="{% static 'css/templatemo-style.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    
    <style>
        .reviewcss{
            border: 2px solid rgb(181, 165, 197);
        }
    </style>
</head>

<body>
    <header class="nav-down responsive-nav hidden-lg hidden-md">
        <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <!--/.navbar-header-->
        <div id="main-nav" class="collapse navbar-collapse">
            <nav>
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="#">Login Or Register</a></li>
                    <li><a href="/">Artists Profiles</a></li>
                    <li><a href="/art_gallery">Art Gallary</a></li>
                    <li><a href="/">About Us</a></li>
                    <li><a href="/">Contact Us</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="sidebar-navigation hidde-sm hidden-xs">
        <div class="logo">
            <a href="/">Cloud9<em> Gallary</em></a>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="/"><span class="rect"></span><span class="circle"></span>
                        Home
                    </a>
                </li>

                <li>
                    <a href="#"><span class="rect"></span><span class="circle"></span>
                        Login Or Register
                    </a>
                </li>

                <li>
                    <a href="/"><span class="rect"></span><span class="circle"></span>
                        Artists Profiles
                    </a>
                </li>

                <li>
                    <a href="/art_gallery"><span class="rect"></span><span class="circle"></span>
                        Art Gallary
                    </a>
                </li>

                <li>
                    <a href="/"><span class="rect"></span><span class="circle"></span>
                        About Us
                    </a>
                </li>

                <li>
                    <a href="/"><span class="rect"></span><span class="circle"></span>
                        Contact Us
                    </a>
                </li>
                <li>
                    <a href="/logout"><span class="rect"></span><span class="circle"></span>
                        Logout
                    </a>
                </li>
            </ul>
        </nav>

        <ul class="social-icons">
            <li><a href="https://github.com/abeeralamri">A<i class="fa fa-github"></i></a></li>
            <li><a href="https://github.com/Reem-nm">R<i class="fa fa-github"></i></a></li>
            <li><a href="https://github.com/sosoulfull">S<i class="fa fa-github"></i></a></li>
            <li><a href="https://github.com/AlmotairiW">W<i class="fa fa-github"></i></a></li>
        </ul>
    </div>


    <div class="page-content">
        <section id="video" class="content-section">
            <div class="row">
                <div class="col-md-4">
                    <div class="accent-button button">
                        <a href="/art_gallery"> Go to Gallary</a>
                    </div>
                </div>
                {% if this_user.account.id == this_artwork.artist.account.id %}
                    <div class="col-md-4">
                        <div class="accent-button button">
                            <a href="/add_item"> Add Item</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="accent-button button">
                            <a href="/sucsess"> My Dashboard</a>
                        </div>
                    </div>
                {% endif %}

                <div class="col-md-12">

                    <div class="section-heading">
                        <h1>{{this_artwork.artist.account.first_name}} <em> Artwork </em></h1>
                        {% if this_user.account.is_artist == False %}
                        <h1> Welcome, <em> {{this_user.account.first_name}} </em></h1>
                        {% endif %}

                    </div>
                    <div id="blog" class="section-content">
                        <div class="tabs-content">
                            <div class="wrapper">
                                <div class="tabs clearfix" data-tabgroup="first-tab-group">
                                    <h3>{{this_artwork.title}}</h3>
                                </div>
                                <div class="text-content">
                                    {% for img in this_artwork.images.all %}
                                        <img src="{{img.image.url}}">
                                    {% endfor %}
                                    <div class="row">
                                        <p>
                                            Description: {{this_artwork.description}}
                                        </p>
                                    </div>
                                    <div class="row">
                                        <p>
                                            Size: {{this_artwork.size}}
                                        </p>
                                        <p>
                                            Price: {{this_artwork.price}}
                                            <!-- test buy btn -->
                                            <a href="/buy_artwork/{{this_artwork.id}}"><i class='fas fa-shopping-cart' ></i></a>
                                        </p>
                                    </div>
                                    <div class="row">
                                        <p>
                                            This arkwork done by <a href="/show_artist_profile/{{this_user.account.id}}" > {{this_artwork.artist.account.first_name}} {{this_artwork.artist.account.last_name}}  </a>
                                        </p>
                                    </div>
                                    {% if this_user.account.is_customer == True %}
                                        <div class="rev">
                                            <div class="row">
                                                <p>Tell the artist your review: </p>
                                                <div class="row">
                                                    <div class="col-md-12 inputGroupContainer">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i
                                                                    class="fa fa-pencil"></i></span>
                                                            <textarea class="form-control" id="review" rows="5"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <fieldset>
                                                                <button type="submit" id="form-submit" class="btn">Submit
                                                                    Review</button>
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- all reviews -->
                                            <div class="row">
                                                <p>This Artwork Reviews</p>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        {% for review in reviews %}
                                                            <p class="reviewcss">{{this_artwork.artist.account.first_name}} <br> 
                                                                {{review}</p>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    {% endif %}


                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-12">
                    <div class="box-video">
                        <div class="bg-video"
                            style="background-image: url(https://unsplash.imgix.net/photo-1425036458755-dc303a604201?fit=crop&fm=jpg&q=75&w=1000);">

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="footer">
            <p>Copyright &copy; 2021 Cloud9  
                
            . Saudi Digital Academy : Coding Dojo</p>
        </section>
    </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')
    </script>

    <script src="{% static 'js/vendor/bootstrap.min.js'%}"></script>

    <script src="{% static 'js/plugins.js'%}"></script>
    <script src="{%static 'js/main.js'%}"></script>


    <script>
        // Hide Header on on scroll down
        var didScroll;
        var lastScrollTop = 0;
        var delta = 5;
        var navbarHeight = $('header').outerHeight();

        $(window).scroll(function (event) {
            didScroll = true;
        });

        setInterval(function () {
            if (didScroll) {
                hasScrolled();
                didScroll = false;
            }
        }, 250);

        function hasScrolled() {
            var st = $(this).scrollTop();

            // Make sure they scroll more than delta
            if (Math.abs(lastScrollTop - st) <= delta)
                return;

            // If they scrolled down and are past the navbar, add class .nav-up.
            // This is necessary so you never see what is "behind" the navbar.
            if (st > lastScrollTop && st > navbarHeight) {
                // Scroll Down
                $('header').removeClass('nav-down').addClass('nav-up');
            } else {
                // Scroll Up
                if (st + $(window).height() < $(document).height()) {
                    $('header').removeClass('nav-up').addClass('nav-down');
                }
            }

            lastScrollTop = st;
        }
    </script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
    <!-- cart -->
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</body>

</html>