body{
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
    background-repeat: no-repeat;

}
.register{
    margin-top: 2%;
    margin-bottom: 10%;
    margin-left: 25% ;
    padding: 3%;
}
.register-left{
    text-align: center;
    color: #fff;
    margin-top: 4%;
}
 .btnLogin{
    float: right;
    margin-top: 30%;
    margin-right: 83%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: rgba(69,72,154, 0.9);
    color: #fff;
    font-weight: 600;
    width: 40%;
    cursor: pointer;
}
#message p {
    padding: 0px 35px;
    font-size: 12px;
} 

.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
}
#message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 10px;
    padding-top: 0;
    margin-top: 0px;
}
.register-right{
    margin-left: 10%;
    background-color: #9598f0;
    box-shadow: 0px 5px 50px rgb(69, 72, 154);
   
}
.register-right img{
    margin-top: 3%;
    width: 20%;
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}


.register .register-form{
    padding: 5%;
}
.btnRegister{
    float: right;
    margin-top: 60%;
    margin-right: 80%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: rgba(69,72,154, 0.9);
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}


  
.register .nav-tabs{
    margin-top: 20px;
    border: none;
    background: rgba(69,72,154, 0.9);
    border-radius: 1.5rem;
    width: 27%;
    float: right;
}
.register .nav-tabs .nav-link{

    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
    border: none;
}
.register .nav-tabs .nav-link.active{
    width: 100px;
    color: rgba(69,72,154, 0.9);
    border: 2px solid rgba(69,72,154, 0.9);
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}
.register-heading{
    text-align: center;
    color: #fff;
}
.col-md-4{
    margin-bottom: 10px;
    margin-top: 10px;
}
.art-img{
    padding-top: 10px;
}
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
>>>>>>> 390113a8e5944129828bd71aa20c4fb644854c1a
>>>>>>> d636109f5a140d419cc2a121d0d1f9a5677507d0
.log-home{
    margin-bottom: 20px;
    height: 10px;
}

.btn-logout{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
   
}

<<<<<<< HEAD
.rd-txt
{
    color: red;
}

=======
<<<<<<< HEAD
=======
>>>>>>> c05085d2b652d78f4463c00421acbe8f70239ab9
>>>>>>> 390113a8e5944129828bd71aa20c4fb644854c1a
>>>>>>> d636109f5a140d419cc2a121d0d1f9a5677507d0
